<%- include('partials/_header') %>

  <main class="flex-fill">
    <h1 id="error-handle-message" style="color: red;">
      <%= errorMsg %>

    </h1>

  </main>


  <%- include('partials/_footer') %>