<%- include('partials/_header') %>


  <main class="flex-fill">
    <div class="jumbotron w-75 mt-5 mx-auto">
      <h1 class="display-4">Welcome to QuizApp!</h1>
      <p class="lead">A multi-page web application that allows you to view and attempt quizzes created by other users.
        You can even create your own and share them with friends!</p>
      <hr class="my-4">
      <p>Want to give it a try? Hit that login button below and let the fun begin!</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Log In</a>
    </div>
  </main>


  <%- include('partials/_footer') %>