<%- include('partials/_header') %>

<main class="quiz-attempt-page flex-fill">
  <div class="jumbotron w-75 mt-5 mx-auto">
    <h1 class="display-4">Thanks for playing "name"!</h1>
    <h2 class="display-4">You scored "7/10"</h2>
    <hr class="my-4">
    <p>Feel like taking another crack at it? Hit that button below and see a whole list of quizzes!</p>
    <a class="btn btn-primary btn-lg" href="/quizzes" role="button">Show Me More!</a>
  </div>
</main>


<%- include('partials/_footer') %>
