
<%- include('partials/_header') %>

<main class="flex-fill">

  <h1>Users</h1>
  <button id="fetch-users">Fetch Users via AJAX</button>
  <ul id="users"></ul>


</main>


<%- include('partials/_footer') %>
