body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Alata', sans-serif;


  background: #E9DAC4;
  // background: linear-gradient(
  //   227deg,
  //   rgba(163, 208, 219, 1) 0%,
  //   rgba(163, 176, 219, 1) 20%,
  //   rgba(163, 173, 219, 1) 34%,
  //   rgba(163, 219, 208, 1) 59%,
  //   rgba(163, 208, 219, 1) 74%,
  //   rgba(163, 208, 219, 1) 100%
  // );
}

.btn-primary {
  background-color: #1E2640;
}

.action-btn {
  color: #1E2640;
  background-color: #DC9750;
}

.list-group .card {
  background: transparent;
  border: 2px solid #1E2640;
}

.list-group .card:hover {
  box-shadow: 7px 7px 7px #1E2640;
  transition: 0.2s;
}

.index-page .jumbotron {
  background-color: #DC9750;
  border: 3px solid #1E2640;
  box-shadow: 7px 7px 7px #1E2640;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.quiz-attempt-page .jumbotron {
  background-color: #DC9750;
  border: 3px solid #1E2640;
  box-shadow: 7px 7px 7px #1E2640;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.page-footer {
  background-color: #1E2640;
  color: #DC9750;
}

.copy-link-quizzes-btn {
  margin-right: 0.3em;
}

#attempt-copy-link-container {
  height: 75px;
  margin-top: 1em;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.copy-link-attempt-btn {
  margin-bottom: 0.3em;
  width: 40%;
}

.quiz-data-modal-content {
  background-color: #E9DAC4;
  border: 3px solid #1E2640;
}

.quiz-data-modal-header {
  background-color: #DC9750;
  border-bottom: 3px solid #1E2640;
}

.register-modal-content {
  background-color: #E9DAC4;
  border: 3px solid #1E2640;
}

.register-modal-header {
  background-color: #DC9750;
  border-bottom: 3px solid #1E2640;
  text-align: center;
}

.login-modal-content {
  background-color: #E9DAC4;
  border: 3px solid #1E2640;
}

.login-modal-header {
  background-color: #DC9750;
  border-bottom: 3px solid #1E2640;
  text-align: center;
}


.hidden {
  display: none;
}