.navbar {
  height: 80px;
  background-color: #922C40;
}

.navbar-brand {
  font-size: 2em;
  font-family: 'Alfa Slab One', cursive;
}

.nav-item {
  font-size: 1.2em;
}

.btn-outline-info {
  background-color: #1E2640;
  margin-left: 1.5em;
}

#logged-in-text {
  font-size: 1.2em;
  color: whitesmoke;
}
