#new-quiz-title {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 1em;
  border-bottom: 3px solid #1E2640;
}

#new-quiz-info {
  padding-top: 2em;
  padding-bottom: 2em;
  border-bottom: 3px solid #1E2640;
}

#new-quiz-info .form-row {
  padding-top: 1em;
}

#new-quiz-content {
  padding-top: 2em;
  padding-bottom: 2em;
}

#new-quiz-content .form-row {
  padding-top: 1em;
  border-bottom: 1px solid #1E2640;
}

#new-quiz-content .btn {
  margin-top: 1em;
  width: 100%;
  height: 3em;
}

.none {
  display: none;
}
